*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    cursor: pointer;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
.nav{
    position: fixed;
    /* padding: 0 4vw; */
    display: flex;
    align-items: center;
    height: 11vh;
    width: 100vw;
    display: flex;
    background-color: #ffffff;
}
.nav .part1{
    display: flex;
    align-items: center;
    padding: 0 25px;
    height: 100%;
    width: 30%;
    /* background-color: rebeccapurple; */
}
.part1 h1{
    font-size: 3vw;
    letter-spacing: 3px;
    color: #0000009b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;

}
.nav .part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    height: 100%;
    width: 70%;
}
.part2 a{
    transition: color ease 0.2s;
    font-size: 1.8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: #000;
}
.nav .part2 a:nth-last-child(1){
    /* background-color: red; */
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #777;
}
.nav .part2 a:nth-last-child(1) .float{
    width: 100%;
    height: 100%;
    background-color: mediumspringgreen;
    position: absolute;
    top: 100%;
    left: 0;
    transition: top ease 0.4s;
}
.nav .part2 a:nth-last-child(1) h5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 99;
    font-weight: 100;
    position: relative;
}
.nav .part2 a:nth-last-child(1):hover .float{
    top: 0;
}
.nav .part2 #menu{
    font-size: 3vw ;
    display: none;
    /* background-color: tan; */
    /* border-radius: 5px; */
}
.content{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: calc(100% - 11vh);
    width: 100%;
    /* background-color: rgba(0, 0, 139, 0.244); */
}
.content h1{
    color: transparent;
    transition: color ease 0.5s;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    /* background-color: red; */
    z-index: 99;
    font-size: 7vw;
    text-align: center;
    width: 65%;
}
.content h1:hover{
   color: #000;
}
.content h3{
    z-index: 99;
    margin-top: 2vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    font-weight: 100;
}

.content :nth-child(3){
    position: relative;
    padding: 10px 50px;
    margin-top: 1vw;
    border: 1px solid #888;
    overflow: hidden;
    border-radius: 50px;
    z-index: 99;
}
i .float2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    transition: top ease 0.4s;
    /* border-radius: 50px; */
    position: absolute;
    background-color: #A18157;
}
.content :nth-child(3):hover .float2{
    cursor: pointer;
    top: 0;
}
.content img{
    position: absolute;
    height: 30vh;
}
#one{
    left:7%;
    top: 17%;
    height: 55vh;
}
#two{
    left:42%;
    top: 30%;
    height: 50vh;
}
#three{
    right: 4%;
    top: 15%;
    height: 30vh;
}
.content img{
    transition: margin ease 0.6s;
}
.content img:hover{
    margin-top: -10px;
}
.nav a:hover{
    color: #A18157;
}

@media (max-width:600px) {
    .nav h1{
        font-size: 5vw;
    }
    .nav .part2 #menu{
        display: block;
        font-size: 6vw;
    }
    .nav .part1{
        /* background-color: firebrick; */
        width: 100vw;
    }
    .nav .part1 h1{

        font-size: 7vw;
        font-weight: 700;
    }
    .nav{
        border-bottom: 1px solid #888888ab;
        position: fixed;
    }
    .nav h1 {
        z-index: 99;
    }
    .nav .part2 {
        /* background-color: darkblue; */
        width: 120vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav .part2 a{
        display: none;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: firebrick; */
    }
    .content h1{
            color: #b1d8ff;
            z-index: 99;
            font-weight: 700;
            text-shadow: 0px 0px 20px #000;
    }
    .content #one{
        left: 10%;
    }
    .content h3{
        margin-bottom: 4vw;
        z-index: 99;
        font-weight: 700;
        font-size: 5vw;
        color: #fff;
        text-shadow: 0px 0px 20px #000;
    }
    .content i{
        border: solid 2px #000;
        box-shadow: 0px 0px 20px #000000;
    }
    .content #two{
        left: 9%;
        height: 30vh;
        top: 73%;
    }
    .content #three{
        left: 20%;
        top: 104%;
        height: 37vh;
    }
}
